.country_label {
	font-size:10px;
}

#attractionimplication {
	background-image:url("../images/attraction/Implication-shivendu-shukla-3yoTPuYR9ZY-unsplash.jpg");
}

#attractionchallenge1 {
	background-image:url("../images/attraction/1-HAN00151.JPG");
	margin-bottom:1px;
}

#attractionchallenge2 {
	background-image:url("../images/attraction/2-safal-karki-nMxOjRQXx7g-unsplash.jpg");
	margin-top:1px;
	margin-bottom:1px;
}

#attractionchallenge3 {
	background-image:url("../images/attraction/3-32904029037_f5c539e63d_k.jpg");
	margin-top:1px;
}

#bangladeshhowmightwe {
	background-image:url("../images/attraction/mumtahina-tanni-H4d1lz2IBAk-unsplash.jpg");
}

.howmightwe {
	border-radius:50%;
	padding:20%;
	align-items: center;
  	display: flex;
  	justify-content: center;
}