#comparetableheaders {
	margin-top:40px;
}

.comparecell {
	border-bottom-color: var(--mainDark);
	border-bottom-width:1px;
	border-bottom-style:solid;
	text-align:center;
	padding:15px;
}

.comparecell p {
	font-size:0.8em;
	font-weight:bold;
}

.selectcell {
  display: flex;
  align-items: center;
	border-bottom-color: var(--mainDark);
	border-bottom-width:1px;
	border-bottom-style:solid;
	text-align:center;
	padding:15px;
}

.headercell {
	border-bottom-color: var(--mainDark);
	border-bottom-width:1px;
	border-bottom-style:solid;
	text-align:center;
	padding:15px;
}

.headercell p {
	font-size:0.8em;
	font-weight:bold;
}

.selectcell p {
	font-size:0.8em;
	font-weight:bold;
}


.highlightbox {
	padding-left:60px;
	padding-right:60px;
}

.lenssecond {
	padding:15px;
}

.consider {
	margin-top:-30px;
}

.subhighlight {
	text-align:left;
}

.countrylabel {
	font-size:0.8rem;
}

.lensbutton {
	border-style:solid;
	border-width:1px;
	border-color:var(--highlightColor);
	padding-top:15px;
	cursor:pointer;
}

.activelens {
	background-color:#f5d9d6;
}

.lensdetails {
	display:none;
}				

.lensboxplan {
	padding-top:0px;
	padding-left:15px;
	padding-right:15px;
}

.stepnumber {
	border-style:solid;
	border-width:1px;
	border-color:var(--highlightColor);
	font-size:1.2rem;
	color:var(--highlightColor);
	width:36px;
	height:36px;
	border-radius:18px;
	padding-top:3px;
	display: inline-block;
	margin-bottom:15px;
}

.comparesection {
	margin-top:30px;
}

.lensbuttoncontainer {
	margin-left:-38px;
	margin-right:-38px;
	margin-bottom:30px;
	margin-top:10px;
}

#frontreligion {
	background-image:url("../images/frontpage/Religion_Home_bill-wegener-NnbFeWRDUv4-unsplash.jpg");
  	background-size: cover;
  	margin-left:20%;
}

#frontreligion:hover {
	background-image:none;
  	background-color:var(--orientation);

}

#circlereligion {
	background-color:var(--orientation);
	transform:translateY(20%);
	z-index:-10;
}


#frontsociety {
	background-image:url("../images/frontpage/Societal_Home_photo-1512025459928-92cefb597d90.jpg");
  	background-size: cover;
  	margin-left:30%;
  	transform:translateY(-10%);
}

#frontsociety:hover {
	background-image:none;
  	background-color:var(--diffusion);
}

#circlesociety {
	background-color:var(--diffusion);
	transform:translateY(20%);
	z-index:-10;
}

#frontbenefits {
	background-image:url("../images/frontpage/Benefits_Home_Feature2.jpg");
  	background-size: cover;
  	margin-left:10%;
  	transform:translateY(-30%);
  	width:80%;
}

#frontbenefits:hover {
	background-image:none;
  	background-color:var(--distance);
}

#circlebenefits {
	background-color:var(--distance);
	transform:translateY(120%);
	margin-left:30%;
	z-index:-10;
}

#frontattraction {
	background-image:url("../images/frontpage/Future_Home_2-safal-karki-nMxOjRQXx7g-unsplash.jpg");
  	background-size: cover;
  	margin-right:20%;
}

#frontattraction:hover {
	background-image:none;
  	background-color:var(--attraction);
}

#circleattraction {
	background-color:var(--attraction);
	margin-left:40%;
	transform:translateY(20%);
	z-index:-10;
}

.frontpage-image {
	border-radius:50%;
	width: 80%;
	position: relative;
	transform:translateY(-20%);
	padding:10%;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor:pointer;
}

.frontpage-image p {
	opacity:0;
}

.frontpage-image:hover p {
	opacity:1;
}

.frontpage-circle {
	border-radius:50%;
	width: 60%;
	position: relative;
	opacity:0.5;
}


.frontpagebutton {
	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
	border-width:1px;
	border-color:var(--highlightColor);
	border-style:solid;
	display:inline-block;
	color:var(--highlightColor);
}

.comparesection {
	margin-top:30px;
}