.country_label {
	font-size:10px;
}

#diffusion0A {
  position:absolute;
  width:70%;
  left:15%;
  top:150px;
  z-index:-1;
}

.storycase {
	background-color:#ede1db;
}

#viz4 {
	margin-top:-10%;
}

#vietnamstoryimg {
	margin-left: calc(-100% - 45px);
	width:calc(200% + 45px);
	z-index:-1;
}

#diffusion1legend {
  	padding-top:30px;
	padding-bottom:30px;
}

.scientists {
	color:#009EE2;
}

.neighbours {
	color:#D1AB39;
}

.government {
	color:#193C78;
}

.journalists {
	color:#CC3333;
}

.doctors {
	color:#29A78A;
}

.nonprofits {
	color:#F28000;
}

#saranking {
	padding-bottom:30px;
}

#society1 {
	background-image:url("../images/diffusion/piqsels.com-id-jmape.jpg")
}

#society2 {
	background-image:url("../images/diffusion/toomas-tartes-27HacQwqvA0-unsplash.jpg")
}

.howmightwe {
	border-radius:50%;
	padding:20%;
	align-items: center;
  	display: flex;
  	justify-content: center;
}
