:root {
	--baseColor: #FFFCF8;
	--highlightColor: #EC411B;
	--mainDark: #3F1A13;
	--orientation: #F6B7B2;
	--diffusion: #E5DAD4;
	--diffusionlight:#f2ece9;
	--distance: #D3B9C7;
	--distancelight: #e9dadf;
	--attraction: #B7DADE;
	--attractionlight:#dbecee;
}

html {
	font-size:100%;
}

body {
	background: var(--baseColor);
	font-family:arial;
	color: var(--mainDark);
	text-align:center;
}

a {
	color: var(--highlightColor);
}

.wellcomeheader {
	font-size:2rem;
	text-align:center;
	font-weight:600;
	font-family:wellcome;
}

h1 {
	font-size:1.19rem;
}

h2 {
	font-size:1.57rem;
	font-weight:600;
}

h3 {
	font-size:1rem;
	font-weight:600;
	text-transform: uppercase;
}

p {
	font-size:1rem;
}


.leftalign {
	text-align:left;
}

.highlightbox {
	border-width:1px;
	border-color:var(--highlightColor);
	border-style:solid;
	background-color:var(--baseColor);
	padding-top:1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
}

.fullscreensection {
	margin-top:1px;
	margin-bottom:1px;
	padding-bottom: 45vh;
	padding-top:45vh;
	background-position: center;
	background-size: cover;
	margin-left:-30px;
	margin-right:-30px;
}

.fullscreensectionsticky {
	margin-top:1px;
	margin-bottom:1px;
	padding-bottom: 45vh;
	padding-top:45vh;
	background-position: center;
	background-size: cover;
	margin-left:-30px;
	margin-right:-30px;
	height:100vh;
}

.stickycontent {
	margin-bottom:50vh;
}

.storysection {
	margin-top:60px;
}

.casestudy {
	padding-top:2rem;
	padding-bottom:2rem;
}

.casestudyrow {
	margin-left:-30px;
	margin-right:-30px;
}

.opportunity {
	padding-top:1.5rem;
	padding-left:2rem;
	padding-right:2rem;
	padding-bottom:2rem;
}

.navs {
	text-align:left;
}

.navlink {
	color:#777777;
	margin-left:10px;
	margin-right:10px;
}

.navlink:hover {
	color:#777777
}

.btn-light {
	margin-top:15px;
	border-radius:0%;
	border-color:var(--highlightColor);
	background-color:var(--baseColor);
	color:var(--highlightColor);
}

.countrylabs {
	font-size:9px;
}

.countrylabel {
	font-size:0.5rem;
	color:#777777;
	fill:#999999;
}

.countrylabellarge {
	font-size:0.8rem;
}

.countrylargelabel {
	font-size:0.8rem;
}

.percentlabel {
	font-size:0.7rem;
}

.keylabel {
	font-size:0.8em;
}

.lowincome {
	background-color:#FF0000;
}

.lowermiddleincome {
	background-color:#00B3CC;
}

.uppermiddleincome {
	background-color:#FFC500;
}

.highincome {
	background-color:#3F1A13;
}

.orientation {
	background-color:#F6B7B2;
}

.diffusion {
	background-color:#E5DAD4
}

.diffusionlight {
	background-color:var(--diffusionlight);
}

.distance {
	background-color:var(--distance);
}

.distancelight {
	background-color:var(--distancelight);
}


.attraction {
	background-color:#B7DADE;
}

.attractionlight {
	background-color:var(--attractionlight);
}

.reference {
	vertical-align: super;
	font-size:8px;
}

.footnote {
	font-size:8px;
	text-align:left;
	margin-bottom:0.2rem;
}

.footnote a {
	color:black;
}

.footnotecontainer {
	padding-top:15px;
}

.footnotecontainer:after {
  content: "";
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 10%;
  text-align:left;
}

.white {
	color:#fff;
	padding-left:15px;
}

.marginup {
	margin-top:-40px;
}

.storysectionlarge {
	margin-top:300px;
}

.topalign {
	vertical-align:top;
}

td, th {
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}


tr {
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000;	
}

.lensbox {
	padding-top:15px;
	padding-bottom:5px;
	padding-left:45px;
	padding-right:45px;
	margin-bottom:15px;
	border-width:1px;
	border-color:var(--highlightColor);
	border-style:solid;
	display:inline-block;
	color:var(--highlightColor);
}

#main {
	margin-top:0px;
}

.headerimage {
	z-index:-10;
}

.menubar {
	z-index:10;
}

.lenstitle {
	margin-top:15px;
}

#pagetitle {
	color:var(--highlightColor);
}

/* old styling */


.navbar {
	padding: .5rem 1rem;
	background: var(--baseColor);
}

.navbar a {
	color:white;
}



#tagline {
	border-bottom-width:1px;
	border-bottom-color:var(--highlightColor);
	border-bottom-style:solid;
	padding-bottom:20px;
}

#taglineContainer {
	padding:40px;
}

.maintext {
	font-size:1.4rem;
	font-family:arial;
	font-weight:600;
	text-align:center;
}

.summarytext {
	font-size:1.2rem;
	font-family:arial;
	font-weight:600;
	text-align:center;
}

.subtext {
	font-size:1.2rem;
	font-weight:600;
}

.takeawaytext {
	font-size:1.4rem;
	font-weight:600;
	text-align:center;
}

.caption {
	font-size:0.8em;
}

.key {
	width:12px;
	height:12px;
	float: left;
	margin-right:12px;
	margin-top:3px;
	text-transform: uppercase;
}

.callout {
	background-color:white;
	padding-top:20px;
	border-width:1px;
	border-color:var(--mainDark);
	border-style:solid;
	width:100%;
	height:100%;
}

.inner {
	padding:20px;
}

.fronttitle {
	text-align:center;
	font-size:2.0rem;
	font-weight:600;
	margin-top:20px;
}

.frontintro {
	text-align:center;
	margin-top:20px;
	font-size:1.2rem;
}

.chartlegend {
  width:12px;
  height:12px;
  float: left;
  margin-right:12px;
  margin-top:3px;
  text-transform: uppercase;
}

.chartaxislabel {
	font-size:12px;
}

.instanceicon {
	margin-top:-20%;
}

.storycase {
	border-top-style:solid;
	border-top-width:10px;
	border-top-width:#000000;
	padding:30px;
	padding-top:30px;
	z-index:10;
}

.storycaseparent {
	z-index:10;
}

.simplifiedicon {
	min-height:70px;
	width:60px;
}

.typeicon {
	min-height:70px;
	width:40px;
}

.sectionheader {
	color:#ffffff;
	background-color:var(--mainDark);
	font-weight:500;
	height:45px;
	padding-top:20px;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:15px;
    margin-top:30px;
}

.center-text {
	justify-content: center;
	text-align:center;
}

/*.lensbox {
	border-bottom-style:solid;
	border-bottom-width:10px;
	border-bottom-color:#E8A8A2;
	padding:15px;
	padding-top:20px;
	margin-top:30px;
}*/

.orientationcolor {
	border-bottom-color:#E8A8A2;
}

.diffusioncolor {
	border-bottom-color:#E5DAD4;
}

.distancecolor {
	border-bottom-color:#D3B9C7;
}

.attractioncolor {
	border-bottom-color:#B7DADE;
}

.smallhighlight {
	font-size:0.8em;
	font-weight:bold;
}

.seeingfurthernote {
	margin-top:30px;
}

.homeicon {
	margin-bottom:15px;
}

.notvisible {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.homelink a {
	color:#777777
}

.orientationtitlebox {
	background-color:#f5d9d6;
	padding-top:15px;
	margin-bottom:15px;
	text-align:center;
}

.diffusiontitlebox {
	background-color:#E5DAD4;
	padding-top:15px;
	margin-bottom:15px;
	text-align:center;
}

.distancetitlebox {
	background-color:#D3B9C7;
	padding-top:15px;
	margin-bottom:15px;
	text-align:center;
}

.attractiontitlebox {
	background-color:#B7DADE;
	padding-top:15px;
	margin-bottom:15px;
	padding-left:0px;
	text-align:center;
}

.lensbutton {
	border-style:solid;
	border-width:1px;
	border-color:var(--highlightColor);
	padding-top:15px;
	cursor:pointer;
}

.legend {
	padding-top:30px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index:-10;
  padding-top:15px;	
}